@mixin YTVideo ($video-ancho, $video-alto){
    width: $video-ancho;
    display: inline-block;
    height: $video-alto;
}

@mixin VideoOverlay {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 30%;
height: 30%;
background-color: transparent;
opacity: 0;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
}