@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    align-items:center;
}

@mixin button ($ancho, $alto) {
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: darkslategray;
    color: orange;
    margin: 10px;
    widht: $ancho;
    height: $alto;
}